[submodule "pagedown/static/pagedown"]
    path =  pagedown/static/pagedown
    url =   https://github.com/rohitchopra32/pagedown.git
[submodule "pagedown/static/pagedown-extra"]
    path = pagedown/static/pagedown-extra
    url = https://github.com/rohitchopra32/pagedown-extra.git